.singleBook{
    box-shadow:1px 1px 3px #f1cde7 ;
    padding:12px;
    cursor: pointer;
    margin-bottom: 12px;
}
.yourBooksWrapper{
   
    max-height:92vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f8f2f6;
    
}
.yourBookHeader{
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 14px;
    margin-top: 10px;
}
.yourBookTotalCount{
    margin-left: 30px;
}
.categoriesHeader{
    margin-left: 30px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;

}
.categoryHeader{
    margin-left: 12px;
}